.model-card {
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 3px 3px 3px 3px;
    position: relative;
}

.model-card .details {
    background-color: aliceblue;
}

.model-card canvas {
    width: 100%;
    border-radius: 3px 3px 0px 0px;
}

.details {
    padding: 1%;
}

.model-all-screen {
    height: 100vh;
    width: 100vh;
}

.model-all-screen canvas {
    width: 100%;
    height: 100%;
}

.preview-card {
    background-color: white;
    box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px 3px 3px;
    margin: 1.5%;
    display: inline-block;
    max-width: 300px;
    /* Default canvas size */
}

.preview-card-canvas {
    border-radius: 3px 3px 0px 0px;
}

.preview-card-details {
    padding: 5px;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.preview-card-models-name {
    font-weight: medium;
    text-transform: capitalize;
    margin-right: 10px;
}

.preview-card-models-by {
    font-weight: lighter;
    font-size: 75%;
}

.preview-list-horizontal {
    width: 100%;
    overflow: scroll;
    display: flex;
}

.preview-list-vertical {
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview-list::-webkit-scrollbar {
    width: 5px;
}

.preview-list::-webkit-scrollbar-track {
    background: rgba(155, 155, 155, 0.103);
    border-radius: 3px;
}

.preview-list::-webkit-scrollbar-thumb {
    background: rgba(155, 155, 155, 0.315);
    border-radius: 3px;
}

.preview-list::-webkit-scrollbar-thumb:hover {
    background: rgba(129, 129, 129, 0.315);
}

.loading-canvas {
    background-color: rgba(155, 155, 155, 0.315);
}

.delete_btn {
    color: red;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.delete_btn:hover {
    cursor: pointer;
}

.model-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

.new_model {
    display: none;
}

.admin-dashboard {
    width: 50%;
    height: 50%;
}

.model-section canvas {
    width: 100%;
    height: 100%;
}

.loading {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(97, 97, 97, 0.336); */
}

.opaco-bg {
    background-color: rgba(97, 97, 97, 0.336);
}

.loading span {
    display: inline-block;
    vertical-align: middle;
    width: .6em;
    height: .6em;
    margin: .19em;
    background: #007DB6;
    border-radius: .6em;
    animation: loading 1s infinite alternate;
}

.loading span:nth-of-type(2) {
    background: #008FB2;
    animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
    background: #009B9E;
    animation-delay: 0.4s;
}

.loading span:nth-of-type(4) {
    background: #00A77D;
    animation-delay: 0.6s;
}

.loading span:nth-of-type(5) {
    background: #00B247;
    animation-delay: 0.8s;
}

.loading span:nth-of-type(6) {
    background: #5AB027;
    animation-delay: 1.0s;
}

.loading span:nth-of-type(7) {
    background: #A0B61E;
    animation-delay: 1.2s;
}

@keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}